{% extends 'base.html.twig' %}

{% block title %}Entrar{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 offset-4 mt-5">
            <h1 class="mb-2">Login</h1>
            {% if erro %}
                <div>{{ erro.messageKey|trans(erro.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post">
                <input type="hidden" name="_target_path" value="/product" />

                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ lastUsername }}" />

                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="_password" />

                <button type="submit" class="btn btn-primary mt-2">Entrar</button>
            </form>
        </div>
        <div class="col-4 offset-4 mt-3">
            <p><small>Ou <a href={{ path('app_register') }}>registe-se</a> aqui.</small></p>
        </div>
    </div>
{% endblock %}